/* #region 1 */
body {
  color: #434455;
font-family: "Roboto", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.40;
background-color: #FFFFFF;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: currentColor;
}

a:hover, a:focus {color: #404BBF;
}

button {
font-family: "Roboto", sans-serif;
color: #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: #4D5AE5;
cursor: pointer;
}
button:hover, button:focus {
  background-color: #404BBF;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.container {
width: 1158px;
padding: 0 15px;
margin: 0 auto;
}
/* #endregion */
/* #region header */
.header {
  border-bottom: 1px solid #E7E9FC;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-right: 76px;
}
.logo-part {color: #2e2f42;}

.nav-header {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-contact-list {
  align-items: center;
  display: flex;
  gap: 40px;
}

.contacts {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.contacts:hover, contacts:focus {
  color: #404BBF;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-link {
  color: #2e2f42;
font-size: 16px;
font-weight: 500;
line-height: 1.50;
letter-spacing: 0.02em;
padding: 24px 0;
display: block;
position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.current {
  position: relative;
  color: #404bbf;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 48px;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.contacts {
  font-weight: 400;
  line-height: 1.50;
  letter-spacing: 0.02em;
  font-size: 16px;
}


/* #endregion */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* #region hero */
.hero {
}
.hero-container {

}
.hero-section {
  background-color: #2E2F42;
  padding: 188px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero-background.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  color: #FFF;
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
max-width: 496px;
margin-bottom: 48px;
margin-left: auto;
margin-right: auto;
}

.hero-button {
  display: block;
padding: 16px 32px;
align-items: center;
gap: 10px;
border-radius: 4px;
background: #4D5AE5);
min-width: 169px;
height: 56px;
border: none;
margin-left: auto;
margin-right: auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.hero-button:hover, .hero-button:focus {
  background-color: #404BBF;

}
/* #endregion */

/* #region features */
.features-section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-card {
  max-width: 264px;
}
.features-list-title {
  color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}
.features-text {
  font-family: Roboto;
  font-weight: normal;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.features-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.features-border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8E8F99;
  background:#F4F4FD;
  margin-bottom: 8px;
}
.features-icons {
  

}
/* #endregion */
/* #region team */
.team {
  background-color: #F4F4FD;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.team-card-title {
  color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 8px;
}
.team-card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-card {
  background-color: #fff;
  width: calc((100%-72px)/4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}
.team-card-wrap {
  padding: 32px 0;
}

.team-soc-list {
  display: flex;
align-items: center;
gap: 24px;
justify-content: center;
}

.team-soc-item {

}

.team-soc-list:hover, .team-soc-list:focus {
}

.team-soc-item {

}
.team-soc-link {
  background-color: #4D5AE5;
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: #404BBF;
}
.team-soc {
fill: #F4F4FD;
}
/* #endregion */
/* #region portfolio */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-card {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)}
  
  .portfolio-card:hover .overlay-text {
    transform: translateY(0%);
}
.portfolio-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .portfolio-card:hover .overlay-text{
    transform: translateY(0);
    }

    .overlay-img-wrap {
      position: relative;
      overflow: hidden;
  }
    .overlay-text {
      position: absolute;
      color: #F4F4FD;
          font-size: 16px;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: 0.02em;
          top: 0;
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.02em;
          color: #f4f4fd;
          padding: 40px 32px;
          background-color: #4d5ae5;
          height: 100%;
          width: 100%;
          transform: translateY(100%);
          transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-card-title {
  color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;

}
.portfolio-card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-card-span {
padding: 32px 16px;
border-left: 1px solid #E7E9FC;
border-bottom: 1px solid #E7E9FC;
border-right: 1px solid #E7E9FC;
}

/* #endregion */
/* #region footer */
.footer {
  background-color: #2E2F42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-wrap {
  margin-right: 120px;
}
.logo-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
display: inline-block;
margin-bottom: 16px;
}
.logo-footer-part {
  color: #f4f4fd;
}
.footer-text {
  font-family: Roboto;
  color: #F4F4FD;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-soc-wrap {
  margin-right: 80px;
}
.footer-soc-list {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.footer-soc-paragraf {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition-property: color, background-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}
.footer-soc-icon {
  fill: #f4f4fd;
}

.footer-text {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-input {
    border-radius: 4px;
    border: 1px solid #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    width: 264px;
    height: 40px;
    padding: 0 16px;
    background-color: transparent;
    outline: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.footer-input:focus-within {
    border-color: #404BBF;
}

.footer-input::placeholder {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 2.0;
    letter-spacing: 0.04em;
}

.footer-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color: #4D5AE5;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
}

.footer-form-btn:focus,
.footer-form-btn:hover {
    background-color: #404BBF;
}

.icon-footer-btn {
    margin-left: 16px;
}
/* #endregion */


/* #region modal */
.backdrop {
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 408px;
  min-height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #FCFCFC;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;  
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf; 
  border: none;
}

.modal-btn:hover, .modal-btn:focus > .modal-btn-icon {
  fill: #ffffff;
}

.modal-btn-icon {
  fill: #111111;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-icon:hover,
.modal-btn-icon:focus {
  fill: #ffffff;
}

.modal-text {
  width: 360px;
  color: #2E2F42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
  max-width: 360px;
}

.modal-div {
  margin-bottom: 8px;    
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid  rgba(46, 47, 66, 0.40);
  background-color: inherit;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4D5AE5;;
}

.modal-input:focus + .modal-form-icon {
  fill: #4D5AE5;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  color: #8E8F99;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
}

.modal-input-wrap {
  position: relative;
}

.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-div {
  margin-bottom: 16px;
}

.modal-textarea {
      width: 100%;
      height: 120px;
      font-size: 12px; 
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: rgba(46, 47, 66, 0.4);
          border-radius: 4px;
          border: 1px solid rgba(46, 47, 66, 0.40);
          background-color: inherit;
          padding: 8px  16px;
          outline: transparent;
          transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          resize: none;
}

.modal-textarea:hover,
.modal-textarea:focus {
  border-color: #4D5AE5;
}

.modal-textarea::placeholder {
  color:  rgba(46, 47, 66, 0.40);=
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
}

.div-check {
  display: flex;
  margin-bottom: 24px;
      width: 100%;
      align-items: center;
      gap: 8px;
}

.check-input:checked + .check-text > .privacy-span {
  background-color: #404BBF;
  border: none;
  fill: #F4F4FD;
}

.privacy-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.check-text {
  color: #8E8F99;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
}

.check-text-link {
  color: #4D5AE5;
  line-height: 1.3;
  text-decoration-line: underline;
}

.button-send {
  cursor: pointer;
      background-color: #4D5AE5;
      color: #FFF;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.04em;
      display: block;
      min-width: 169px;
      height: 56px;
      border: none;
      border-radius: 4px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      margin: 0 auto;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* endregion */